footer {
    display: flex;
    flex-direction: column;
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
    background-color: #191A23;

    .footer-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 66px;

        ul {
            li {
                a {
                    font-weight: 400;
                    font-size: 18px;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    color: #fff;
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .footer-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 51px;

        .lefter {
            h5 {
                border-radius: 7px;
                padding: 0px 7px;
                background-color: #B9FF66;
                width: max-content;
                margin-bottom: 27px;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                width: 300px;
                margin-bottom: 20px;
            }
        }

        .right {
            border-radius: 14px;
            padding: 58px 40px;
            background: #292a32;
            display: flex;
            align-items: center;
            gap: 20px;


            input {
                width: 285px;
                border: 1px solid #fff;
                border-radius: 14px;
                padding: 22px 35px;
                color: white;
                background-color: transparent;
                margin: 0;
            }

            button {
                border-radius: 14px;
                padding: 20px 35px;
                background-color: #B9FF66;
            }
        }
    }

    .line-3 {
        border: 1px solid white;
        margin-bottom: 50px;
    }

    .footer-footer {
        display: flex;
        gap: 40px;

        p {
            font-weight: 400;
            font-size: 18px;
            color: white;
        }

        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 156%;
            color: white;
            text-decoration: underline;
        }
    }

}