.section-9 {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        li {
            border: 1px solid #191A23;
            border-radius: 45px;
            box-shadow: 0 5px 0 0 #191A23;
            background: #fff;
            display: flex;
            flex-direction: column;
            gap: 28px;
            width: 393px;
            padding: 40px 35px;

            .section-9-hero {
                display: flex;
                align-items: end;
                position: relative;

                .fullname {
                    margin-left: 20px;

                    h6 {
                        font-weight: 500;
                        font-size: 20px;
                        width: max-content;
                    }

                    p {
                        font-weight: 400;
                        font-size: 18px;
                    }
                }

                .in-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            p {
                width: 300px;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}

.line-3 {
    border: 1px solid black;
    width: 100%;
    height: 0px;
}

.in-icon {
    border-radius: 100%;
}

.in-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #b9ff66;
}

#text-icon:hover {
    text-shadow: 0 0 15px #b9ff66;
}
#in-icon:hover {
    transform: scale(1.1);
    text-shadow: 0 0 15px #b9ff66;

}

